* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", serif;
  font-weight: 400;
  font-style: normal;
}

body {
  background-color: #f7f7f7;
  color: #333333;
}

.container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
}
.container .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width: 100%;
  padding: 10px 0;
}
.container .header a {
  text-decoration: none;
  color: #333333;
}
.container .header :nth-child(even) {
  padding: 0 20px;
}
.container .header :nth-child(odd) {
  padding: 0 10px;
}
.container .header .header-nav-top-left {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
.container .header .header-nav-end {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
.container .header .header-nav-end .contact-link a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.container .header .header-nav-end button {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  padding: 10px 20px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border: none;
  color: #ffffff;
  background-color: #333333;
  transition: transform 0.3s ease-in-out;
}
.container .header .header-nav-end button:active {
  background-color: #c7f022;
  color: #333333;
}
.container .header .header-nav-end button:hover {
  transform: scale(0.9);
}

.main {
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  width: 100%;
  border: 1px solid;
}
.main .figure {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-direction: row;
  width: 100%;
  background-image: url(backdrop/Premium\ Vector\ _\ Programming\ and\ developers\ vector\ seamless\ pattern\ and\ Internet\ and\ coding.jpeg);
  -webkit-backdrop-filter: blur(50px);
          backdrop-filter: blur(50px);
  background-position: center;
}
.main .figure .figblur {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-direction: row;
  -webkit-backdrop-filter: blur(0.7px);
          backdrop-filter: blur(0.7px);
  background-position: center;
  background-color: rgba(255, 255, 255, 0.5);
}
.main .figure .figblur .figcaption {
  font-weight: 600;
  font-size: 34px;
  margin: 0 0 80px 0;
  padding: 0 30px;
}
.main .figure .figblur .figcaption button {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  padding: 10px 20px;
  font-size: 17px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border: none;
  color: #333333;
  background-color: #c7f022;
  transition: transform 0.3s ease-in-out;
}
.main .figure .figblur .figcaption button:active {
  background-color: #333333;
  color: #ffffff;
}
.main .figure .figblur .figcaption button:hover {
  transform: scale(0.9);
}
.main .figure img {
  width: 800px;
}/*# sourceMappingURL=styles.css.map */